<ion-navbar *navbar>
  <ion-title>导航</ion-title>
</ion-navbar>


<ion-content>
    <ion-list>
        <div padding> 
        	<button round block (click)="busRoute()">bus route</button>
        </div>

        <div padding>
            <button round block (click)="driverConsole()">driver console</button>
        </div>

        <div padding>
            <button round block (click)="fileList()">file list</button>
        </div>

         <div padding>
            <button round block (click)="recodeRoute()">recode-route</button>
        </div>

        <div padding>
            <button round block (click)="gpsTest()">gps test</button>
        </div>

        <div padding>
            <button round block (click)="showPosition()">show position</button>
        </div>

        <div padding>
            <button round block (click)="updatePosition()">update-position</button>
        </div>

        <div padding>
            <button round block (click)="showBusMap()">Baidu Map</button>
        </div>

        <div padding>
            <button round block (click)="signUp()">signup</button>
        </div>

        <div padding>
            <button round block (click)="addCompany()">add company</button>
        </div>
      </ion-list>
</ion-content>