<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>signUp</ion-title>
</ion-navbar>

<ion-content padding class="sign-up">
 <ion-list>
    <ion-item>
      <ion-label floating>User Name </ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
 </ion-list>

  <ion-list>
    <ion-item>
      <ion-label floating>Password </ion-label>
      <ion-input type="text" [(ngModel)]="password"></ion-input>
    </ion-item>
 </ion-list>

 <button (click)="signUp()">
  SignUp
</button>
  
  result: {{result}}
</ion-content>
