<!--
  Generated template for the BusMapPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>bus-map</ion-title>
</ion-navbar>

<ion-content class="bus-map">
  <div id='map-container' class='map' ></div>
</ion-content>
