<!--
  Generated template for the CompanyPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>company</ion-title>
</ion-navbar>

<ion-content padding class="company">
 <ion-list>
    <ion-item>
      <ion-label floating>Company ID </ion-label>
      <ion-input type="text" [(ngModel)]="cid"></ion-input>
    </ion-item>
 </ion-list>

 <button (click)="addCompany()">
  add company
</button>
  
  result: {{result}}
</ion-content>
