<!--
  Generated template for the BuslinePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>录制路线</ion-title>
</ion-navbar>


<ion-content>

    <ion-list>
        <div padding> </div>
        <ion-item>
            <ion-label>路线名称</ion-label>
            <ion-input type="text" [(ngModel)]="data.lineName">
            </ion-input>
       　</ion-item>
            
       　<ion-item>
           <ion-label>纬度</ion-label><ion-label>{{data.lat}}</ion-label>
        </ion-item>
        <ion-item>
           <ion-label>经度</ion-label><ion-label>{{data.lon}}</ion-label>
        </ion-item>

        <button round block (click)="recordButton()">{{data.recordButtonName}}</button>
        

        <ion-label>插入站点</ion-label>
        
       　<ion-item>
         　<ion-label>站点名称</ion-label>
         　<ion-input type="text" [(ngModel)]="data.stop"></ion-input>
       　</ion-item>

       　<ion-item>
           <ion-label>纬度</ion-label><ion-label>{{data.lat}}</ion-label>
        </ion-item>
        <ion-item>
           <ion-label>经度</ion-label><ion-label>{{data.lon}}</ion-label>
        </ion-item>
        

        <div padding>
            <button round block (click)="addBusStop()">增加</button>
        </div>

         <ion-label>采样详细</ion-label>
        　<ion-item>
            <ion-label>站点：</ion-label><ion-label>{{data.busCount}}</ion-label>
        　</ion-item>
         
        　<ion-item>
            <ion-label>采样点：</ion-label><ion-label>{{data.gpsCount}}</ion-label>
        　</ion-item>

        　<div padding>
          　　<button round block (click)="saveBusRoute()">保存数据</button>
        　</div>

         <div padding>
          　　<button round block (click)="uploadBusRoute()">上传数据</button>
        　</div>
      </ion-list>
</ion-content>